
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0 ;
    padding: 0;
}
html{
    
    font-size: 100%;
}
.navbar {
    padding: 1rem 1rem;
}
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

h1 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0 ;
    margin-left: 100% ;
}

h2 {
    font-size: 2.8rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 0.9rem;
    line-height: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
a {
    text-decoration: none !important;
}
ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.btn-pink {
    color: #fff;
    background-color: #ff90b5;
    border-color: #ff90b5;
    margin-top: 1rem;
}
.parte {
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    margin-bottom: 0.7rem;
}
.label {
    color: #fff;
    background-color: #90b3ff;
    margin: 0;
    margin-bottom: 0.7rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.2;
    align-items: flex-start;
    box-sizing: border-box;
    width: 50%;
}
.label a {
    color: #fff;
    text-decoration: none;
}
.label:hover {
    background-color: #ff90b5;
}
.icon {
  filter: invert(88%) sepia(12%) saturate(7499%) hue-rotate(291deg) brightness(101%) contrast(102%);
}
#collection {
    width: 100%;
    height: 600px;
    background: url(https://github.com/evadnemeraki/CatGlam/blob/master/Images/4.jpg?raw=true);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
}
#partes{
    display: flex;
    flex-wrap: wrap;
}
footer {
    width: 100%;
    height: auto;
    padding:2%;
    display: flex;
    flex-wrap: wrap;
}
.location {
    text-align: left !important;
    white-space: nowrap!important;
}
.social {
    text-align: center !important;
}

@media only screen and (max-width: 1039px) {
.social {
    text-align: right !important;
}
}
@media only screen and (max-width: 991px) {
    .social {
        height: auto;
        padding-inline-end: 1rem;
    }
    }
@media only screen and (max-width: 767px) {
    .location, .social {
    text-align: center !important;
    }
    }
