
  <!-- Container Productos -->
  <div class="container">
    <div class="row mt-5 mb-6">
      <div class="col text-center">
        <div id="productos">
          <h2>Productos</h2>
        </div>
      </div>
    </div>

    <div id="sections" class="row align-items-center mt-5">
      <div class="col text-center">
        <div class="btn-group " role="group" aria-label="Basic example">
          <button type="button" class="btn btn-light">Todos</button>
          <button type="button" class="btn btn-light">Aros</button>
          <button type="button" class="btn btn-light">Moños</button>
          <button stype="button" class="btn btn-light">Chokers</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Grid -->
  <div class="gridwrapper">
    <div class="items">
        {{#each productos}}
      <div class="item aros" style="background-image:url({{imagen_p}})">
        <div class="sticker"><a href="/productos/{{id_p}}">{{nombre_p}}</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <!-- Benefits -->
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-3 benefit_col">
        <div class="benefit_item d-flex flex-row justify-content-around align-items-center">
          <div class="benefit_icon col-2"><img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/25/25430.svg"></div>
          <div class="benefit_content col-9">
            <h6>Envíos a todo el país</h6>
            <p>Entregas en Lomas de Zamora, Nuñez y Obelisco</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 benefit_col">
        <div class="benefit_item d-flex flex-row justify-content-around align-items-center">
          <div class="benefit_icon col-2"><img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/126/126179.svg"></div>
          <div class="benefit_content col-9">
            <h6>Todos los medios de pago</h6>
            <p>Efectivo, crédito, débito, link y QR de MercadoPago</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 benefit_col">
        <div class="benefit_item d-flex flex-row justify-content-around align-items-center">
          <div class="benefit_icon col-2"><img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/149/149763.svg"></div>
          <div class="benefit_content col-9">
            <h6>Pedidos especiales</h6>
            <p>Cerrados por el momento</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 benefit_col">
        <div class="benefit_item d-flex flex-row justify-content-around align-items-center">
          <div class="benefit_icon col-2"><img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/59/59252.svg"></div>
          <div class="benefit_content col-9">
            <h6>Abierto de lunes a viernes</h6>
            <p>8AM - 09PM</p>
          </div>
        </div>
      </div>

    </div>
  </div>