
<div>
    <form role="form" action="/productos/productos/subir" method="POST">
        <label for="Producto">Producto: </label><input class="form-control" name="pepito" type="text" id="Producto">
        <label for="Descripcion">Desc.: </label><input class="form-control" name="Descripcion" type="text" id="Descripcion">
        <label for="Precio">Precio: </label><input class="form-control" name="Precio" type="text" id="Precio">
        <label for="Stock">Stock: </label><input class="form-control" name="Stock" type="text" id="Stock">
        <label for="Imagen">Imagen(URL): </label><input class="form-control" name="Imagen" type="text" id="Imagen">
        <button type="submit">Subir producto</button>
    </form>
</div>
{{!-- EN ACTIO DEL FORM VA LA URL QUE VA A MANEJAR LA RUTA (acordate que la ruta se forma
con lo que redirige el server mas lo del modulo ruta por eso prodyuctos productos )

LOS VALORES QUE ALMACENA DATOS EN LA REQUEST LOS INDICA EL NAME DEL INPUT
name es propiedad, valor es loq ue ingreso en el input
 --}}