
<footer class="bg-light align-items-center">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-lg-4 col-md-6 d-flex flex-xs-row flex-column location">
                <ul class="footer_nav">
                  <li> Encontranos en <a href="https://www.instagram.com/neotokyoshowroom/">neotokyoshowroom</a></li>
                  <li>Capital Federal, Buenos Aires</li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-xs-row flex-column social">
                <ul class="footer_nav">
                  <li>
                    Seguinos en:
                    <a href="https://www.facebook.com/catglamaccesorios/">
                              <img class="icon ml-6" style="height: 20px;" src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-02-512.png">
                               </a>
                    <a href="https://www.instagram.com/cat_glam_accesorios/">
                              <img class="icon" style="height: 20px;" src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-04-512.png">
                               </a>
                  </li>
                  <li>
                    <a href="https://api.whatsapp.com/send?phone=541132445012">
                              <img class="icon ml-6" style="height: 20px;" src="https://cdn1.iconfinder.com/data/icons/social-media-vol-3/24/_whatsapp-128.png">
                               +54 11 3244-5012</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>