<!-- The Add Category Modal -->
<div id="myModalA" class="modal">
  <!-- Modal content-->
  <div class="modal-content">
    <span class="closeA close">&times;</span>
<form role="form" action="panel/perfil/subir" method="POST">
  <div class="form-group">
    <label for="Producto">Nueva foto de perfil (URL): </label>
    <input class="form-control" name="nfoto" type="text" id="nfoto">
  </div>
<button type="submit" class="btnSave btn btn-secondary btn-rounded btn-sm my-0 m-1">Guardar</button>    
    </form>
  </div>
</div>


<script>
//Add Category > Get the modal
var modalA = document.getElementById("myModalA");
// Get the <span> element that closes the modal
var spanA = document.getElementsByClassName("closeA")[0];
// When the user clicks on <span> (x), close the modal
spanA.onclick = function() {
  modalA.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.addEventListener('click', function() {
  if (event.target == modalA){
        modalA.style.display = "none";
  }});
</script>