<!-- The Add Category Modal -->
<div id="myModal3" class="modal">

  <!-- Modal content-->
  <div class="modal-content">
    <span class="close3">&times;</span>
<form role="form" action="panel/perfil/subir" method="POST">
  <div class="form-group">
    <label for="Producto">Nueva foto de perfil (URL): </label>
    <input class="form-control" name="nfoto" type="text" id="nfoto">
  </div>
<button type="submit" class="btnSave btn btn-secondary btn-rounded btn-sm my-0 m-1">Guardar</button>    
    </form>
  </div>
</div>


<script>
//Add Category > Get the modal
var modal3 = document.getElementById("myModal3");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close3")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal3.style.display = "none";
}
</script>