<div class="postcontainer bg-light">
    <h4 class="pt-5 mb-5 ml-4">NOVEDADES <img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/149/149763.svg"></h4>
<div class="row no-gutters justify-content-around pb-3">
{{#each blogpost}}
    <div class="post col-5">
        <img class="postimg" src="{{imagen_b}}">
        <div>
            <p>
            {{texto_b}}
            </p>
        </div>
    </div>
{{/each}}
</div>
</div>


