<div class="container-contact100">
<div class="wrap-contact100">
<form action="/contacto/mail" method="post" class="contact100-form validate-form">
<span class="contact100-form-title">
Envianos un mensaje
</span>
<span>{{emailok}}</span>
<label class="label-input100" for="nombre">Nombre y Apellido *</label>
<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Escribí tu nombre">
<input id="first-name" class="input100" type="text" name="nombre" placeholder="nombre">
<span class="focus-input100"></span>
</div>
<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Escribí tu apellido">
<input class="input100" type="text" name="apellido" placeholder="apellido">
<span class="focus-input100"></span>
</div>
<label class="label-input100" for="email">Email *</label>
<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
<input id="email" class="input100" type="text" name="email" placeholder="usuario@email.com">
<span class="focus-input100"></span>
</div>
<label class="label-input100" for="telefono">Teléfono *</label>
<div class="wrap-input100">
<input id="telefono" class="input100" type="text" name="telefono" placeholder="+54 11 0000 0000">
<span class="focus-input100"></span>
</div>
<label class="label-input100" for="mensaje">Mensaje *</label>
<div class="wrap-input100 validate-input" data-validate="">
<textarea id="mensaje" class="input100" name="mensaje" placeholder="Escribinos tus consultas"></textarea>
<span class="focus-input100"></span>
</div>
<div class="container-contact100-form-btn">
    <input type="submit" class="btn-fucsia btn" type="submit" value="Enviar Mensaje" />
</div>
</form>
<div class="contact100-more flex-col-c-m" style="background-image: url('https://instagram.faep5-1.fna.fbcdn.net/v/t51.2885-15/e35/73118610_2541579812795777_5947407566076647690_n.jpg?_nc_ht=instagram.faep5-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=wNj6MPNtEQcAX8s3Ac2&oh=e3f3f04cb1bd4890598d98ab7bc0a50e&oe=5EA8A962');">
<div class="flex-w size1 p-b-47">
<div class="txt1 p-r-25">
</div>
<div class="flex-col size2">
<span class="txt1 p-b-20">
OPEN SHOWROOM 
</span>
<span class="txt2">
Martes a Sábado, 15 a 20hs en neotokyoshowroom, Adolfo Alsina 1476 9° 35. Zona Congreso.
</span>
</div>
</div>
<div class="dis-flex size1 p-b-47">
<div class="txt1 p-r-25">
</div>
<div class="flex-col size2">
<span class="txt1 p-b-20">
Teléfono
</span>
<span class="txt3"><a href="https://api.whatsapp.com/send?phone=541132445012">
+54 11 3244-5012</a>
</span>
</div>
</div>
<div class="dis-flex size1 p-b-47">
<div class="txt1 p-r-25">
</div>
</div>
</div>
</div>
</div>