<div id="emailstatus"  style="background-image: url('https://instagram.faep5-1.fna.fbcdn.net/v/t51.2885-15/e35/73118610_2541579812795777_5947407566076647690_n.jpg?_nc_ht=instagram.faep5-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=wNj6MPNtEQcAX8s3Ac2&oh=e3f3f04cb1bd4890598d98ab7bc0a50e&oe=5EA8A962');">

<div id="emailmsg" style="background: #fff;">
    <span class="h3">HA HABIDO UN PROBLEMA</span>
    <span>Te sugerimos intentarlo nuevamente o comunicarte con nosotros por otra de nuestras vías al pie de la página. Disculpá la molestia.</span>
</div>

</div>