
  <!-- Container Banner -->
  <div id="banner" class="container-fluid px-0">
    <div id="collection" class="row-reverse">
      <div id="collections" class="micuenta col-md-5 row">
        <h3>verano colección 2020</h3>
        <h2>tendencia en accesorios autogestivos</h2>
        <a href="/blog/"><button type="button" class="btn btn-pink">Descubrí</button></a>
      </div>
      <div class="col-md-6 row
  justify-content-center">
        <form class="accountform" method="POST" action="/micuenta">
          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input id="usuario" class="form-control" name="usuario" type="email" placeholder="usuario@email.com" required>
            <small id="usuarioHelp" class="form-text text-muted">¿Ya tenés un usuario de <a  href="/micuenta/registro" style="text-decoration: none; color: #444857;"><b>CatGLAM</b></a>?</small>
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input id="password" class="form-control" name="password" type="password" placeholder="contraseña" required>
          </div>
          <button type="submit" class="btn btn-pink">Ingresar</button>
        </form>
          <span class="text-danger">{{message}}</span>
      </div>
    </div>
  </div>