    <!-- Container Banner -->
        <div id="banner" class="container-fluid px-0">
            <div id="collection" class="row-reverse no-gutters">
                <div id="collections" class="col-5"> 
                  <h3>verano colección 2020</h3>
                    <h2>tendencia en accesorios autogestivos</h2>
                    <a href="/blog/"><button type="button" class="btn btn-rosa">Descubrí</button></a>
                </div>
                <div class="col-6"></div>
            </div>
        </div>        
    <!-- Container Productos -->
        <div class="container">
            <div id="partes" class="row mt-5 mb-5">
                <div class="col-md-4">
                    <div class="parte embed-responsive embed-responsive-1by1 text-center align-items-center" style="background-image:url(./Images/5.jpg)">
                        <div class="label">
                            <a href="categories.html">Aros</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="parte embed-responsive embed-responsive-1by1 text-center align-items-center" style="background-image:url(./Images/6.jpg)">
                            <div class="label">
                                <a href="categories.html">Moños</a>
                            </div>
                        </div>
                    </div>
                <div class="col-md-4">
                    <div class="parte embed-responsive embed-responsive-1by1 text-center align-items-center" style="background-image:url(./Images/7.jpg)">
                        <div class="label">
                            <a href="categories.html">Chokers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>