    <!-- Container Banner -->
        <div id="banner" class="container-fluid px-0">
            <div id="collection" class="row-reverse no-gutters">
                <div id="collections" class="col-5"> 
                  <h3>verano colección 2020</h3>
                    <h2>tendencia en accesorios autogestivos</h2>
                    <a href="/productos/"><button type="button" class="btn btn-rosa">Descubrí</button></a>
                </div>
                <div class="col-6"></div>
            </div>
        </div> 
    <!-- Container Productos -->
      <div id="pick" class="mt-3">
    <div class="pt-1">
          <h4 class="m-3 mt-5">¡SELECCIÓN DE LA SEMANA! <img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/149/149763.svg"></h4>
    </div>
            <div id="partes" class="row no-gutters mt-5 mb-5 text-center bg-light">
        {{#each ultimosProductos}}
                <div class="col-md-4 mt-3">
                    <div class="parte" style="background-image:url({{imagen_p}})">
                        <div class="label">
                            <a href="/productos/detalle/{{id_p}}">{{nombre_p}}</a>
                        </div>
                    </div>
                </div>
        {{/each}}
            </div>
        </div>
        <!-- Texto Mobile -->
<div class="text visible-xs gif-mobile text-center" style="position: relative; padding: 10px; background:#00F9AB">
    <strong>  ENVÍO GRATIS A PARTIR DE $699  </strong>
  </div>