* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
footer {
  width: 100%;
  height: auto;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}
.navbar {
  padding: 1rem 1rem;
}
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0;
  margin-left: 100%;
}

h2 {
  font-size: 2.8rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 0.9rem;
  line-height: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h4{
  color: rgba(0,0,0,.9);
}
h4 i {
  color: rgba(0,0,0,.5);
  font-style: normal !important;
}
i {
  color: #666;
  font-size: 0.8rem;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.btn-pink {
  color: #fff;
  background-color: #ff90b5;
  border-color: #ff90b5;
  margin-top: 1rem;
}
.parte {
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0.7rem;
}
.label {
  color: #fff;
  background-color: #90b3ff;
  margin: 0;
  margin-bottom: 0.7rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.2;
  align-items: flex-start;
  box-sizing: border-box;
  width: 50%;
}
.label a {
  color: #fff;
  text-decoration: none;
}
.label:hover {
  background-color: #ff90b5;
}
.location {
  text-align: left !important;
  white-space: nowrap !important;
}
.social {
  text-align: center !important;
}
.icon {
  filter: invert(88%) sepia(12%) saturate(7499%) hue-rotate(291deg)
    brightness(101%) contrast(102%);
}
.btn.active {
  color: #fff;
  background-color: #90b3ff;
  border-color: #90b3ff;
}
.btn-text {
      line-height: 2rem;
    font-size: 1rem;
}
.btn-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    line-height: 1rem;
  margin-left: 0.4rem;
  
}
.btn-lila {
  background-color: #E0B2FF !important;
}
.btn-rosa {
  background-color: #F9B2FF !important;
}
.btn-azul {
  background-color: #3A395C !important;
}
.btn-celeste {
  background-color: #BEB2FF !important;
}
.btn-aqua {
  background-color: #B2F6FF !important;
}
.btn-verde {
  background-color: #B8FFB2 !important;
}
.btn-amarillo {
  background-color: #FFF9B2 !important;
}
.btn-durazno {
  background-color: #FFDCB2 !important;
}
.btn-negro {
  background-color: #131417 !important;
  color: #fff !important;
}
.buy {
  border-radius: 0 !important;
  width: 90%;
}
.gridwrapper {
  padding: 20px;
  margin-bottom: 2em;
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  box-sizing: border-box;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 3px;
  padding: 20px;
}

.item {
  width: 32%;
  height: 0px;
  padding-bottom: 32%; /* Same as width, sets height */
  margin-bottom: 2%;
  position: relative;
  border-radius: 3px;
  background-color: #ff90b5;
  border: 2px solid rgb(248, 249, 250);;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.item:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.5);
    z-index:3;
}  
.item .sticker {
  display: none;
}
.item:hover .sticker {
  margin-top: 100%;
  color: #fff;
  background-color:transparent;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.2;
  box-sizing: border-box;
  width: auto;
    z-index: 4;
    position: relative;
}
.sticker a {
  color: #fff;
}
.benefit_item {
  height: 100px;
  background: #f3f3f3;
  border-right: solid 1px #fff;
}
.benefit_icon {
  justify-content: center;
  align-items: center;
}
.benefit_i {
  width: 2rem;
}
.benefit_content {
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
}
.benefit_content h6 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.2rem !important;
}
.producto {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
}
.accountform {
    background: rgba(255,255,255, 0.5);
  padding: 2rem;
    border-radius: .25rem;
  width: 80%;
}
#collection {
  width: 100%;
  height: 600px;
  background: url(https://github.com/evadnemeraki/CatGlam/blob/master/Public/Images/4.jpg?raw=true);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#partes {
  display: flex;
  flex-wrap: wrap;
}
#productos::after {
  display: block;
  position: absolute;
  top: calc(100% + 13px);
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background: #ff90b5;
  content: "";
}
#precio {
  margin-top: 2rem;
}
#messagepop {
  margin-top: 2rem;
  margin-left: 1rem;

}

@media only screen and (max-width: 1039px) {
  .social {
    text-align: right !important;
  }
}
@media only screen and (max-width: 991px) {
  .social {
    height: auto;
    padding-inline-end: 1rem;
  }
  .benefit_col {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .location,
  .social {
    text-align: center !important;
    white-space: normal !important;
  }
  .micuenta {
    display: none;
  }
  .accountform {
    font-size: 0.7rem;
  }
  .producto {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 627px) {
  #collections h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 469px) {
  #collections h2 {
    font-size: 1.5rem;
  }
  .items {
    padding: 0px !important;
  }
}
